#!/bin/bash

set -eufo pipefail

{{ template "utils" }}

{{ if .personal }}
    {{ if eq .osid "darwin" }}
    #############################################################
    # Function to download and install 1Password UI app on macOS
    #############################################################
    install_1password_ui_macos() {
        echo "Downloading 1Password zip file..."
        /usr/bin/curl -o "$HOME/Downloads/1Password.zip" "https://downloads.1password.com/mac/1Password.zip"

        if [ $? -ne 0 ]; then
            fail_exit "Failed to download 1Password zip file."
        fi

        echo "Extracting 1Password application..."
        unzip -q "$HOME/Downloads/1Password.zip" -d "$HOME/Downloads"

        if [ $? -ne 0 ]; then
            fail_exit "Failed to extract 1Password application."
        fi

        echo "Moving 1Password application to Applications folder..."
        mv "$HOME/Downloads/1Password.app" "/Applications/"

        if [ $? -ne 0 ]; then
            fail_exit "Failed to move 1Password application to Applications folder."
        fi

        success "1Password.app installation completed successfully."
    }
    #############################################################
    # Function to install 1Password CLI app on macOS
    #############################################################
    install_1password_cli_macos() {
        if [ -x "/opt/homebrew/bin/brew" ]; then
            info "Homebrew is already installed."
        else
            info "Homebrew is not installed. Installing..."
            /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

            if [ $? -ne 0 ]; then
                fail_exit "Failed to install Homebrew."
            fi
        fi

        if [ -x "/opt/homebrew/bin/brew" ]; then
            /opt/homebrew/bin/brew install --cask 1password-cli

            if [ $? -ne 0 ]; then
                fail_exit "Failed to install 1Password CLI."
            fi
        else
            fail_exit "/opt/homebrew/bin/brew not found. Cannot install 1Password CLI."
        fi
    }

    # check if 1Password UI app is installed
    if [ ! -d "/Applications/1Password.app" ]; then
        info "installing 1password.app"
        install_1password_ui_macos
    fi

    # check if 1Password CLI app is installed
    if [ ! -x "/opt/homebrew/bin/op" ]; then
        info "installing 1password-cli"
        install_1password_cli_macos
    fi

    {{ else if eq .osid "linux" }}

    #############################################################
    # Function to install 1Password CLI app on Linux
    #############################################################
    install_1password_cli_linux() {
        # Function to check return status and exit if error
        check_status() {
            if [ $? -ne 0 ]; then
                fail_exit "Error: $1 failed"
            fi
        }

        # Import 1Password GPG key
        sudo -s <<EOF
        curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
        gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
EOF
        check_status "Importing GPG key"

        # Add 1Password repository to sources.list.d
        echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" | sudo tee /etc/apt/sources.list.d/1password.list
        check_status "Adding repository to sources.list.d"

        # Create directory for debsig policies and import 1Password debsig policy
        sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
        curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
        check_status "Importing debsig policy"

        # Create directory for debsig keyrings and import 1Password debsig keyring
        sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
        curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
        check_status "Importing debsig keyring"

        # Update package lists and install 1Password CLI
        sudo apt update
        sudo apt install -y 1password-cli
        check_status "Installing 1password-cli .deb packages"

        if dpkg -l | grep -q "1password-cli"; then
            success "1Password CLI installed successfully."
            info "Don't forget the `eval $(op signin)`"
        fi
    }

        # check if 1Password CLI app is installed
        if [ ! -x "/usr/bin/op" ]; then
            info "Starting 1password-cli installation routine"
            install_1password_cli_linux
        fi
    {{ else }}
    {{ end }}
{{ end }}
