
[".fonts"]
    type = "git-repo"
    url = "https://github.com/powerline/fonts.git"
    refreshPeriod = "168h"


### oh-my-zsh
[".oh-my-zsh"]
  type = "git-repo"
  url = "https://github.com/ohmyzsh/ohmyzsh.git"
  exact = true
  refreshPeriod = "72h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "git-repo"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
  exact = true
  refreshPeriod = "72h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
  type = "git-repo"
  url = "https://github.com/romkatv/powerlevel10k.git"
  exact = true
  refreshPeriod = "72h"
{{/* macOS installs nerd fonts via brew casks (see packages.yaml); Linux has no
     brew cask support, so fetch the archives directly there. */}}
{{- if and (not .ephemeral) (not .headless) (eq .chezmoi.os "linux") }}
{{-   range (list
        "Meslo"
        "Hack") }}
[".local/share/fonts/{{ . }}"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/{{ . }}.tar.xz"
    refreshPeriod = "168h"
{{-   end }}
{{- end }}
